
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
  }

body {

    padding: 0 10px;
    justify-content: stretch;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

/* .cv-header {
    color: rgb(88, 142, 230);
}
.cv-logo {
    width:200px ;
    height: 260px;
} */

.main-header {
    width: 100%;
    background-color: #829985;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list > li > a {
  color: #829985;
}
/* .contact-list__item {
  
} */

/* .location {
  list-style-image: url("assets/img/location.svg");
}
.email {
  list-style-image: url("assets/img/email.svg");
}
.github {
  list-style-image: url("assets/img/github.svg");
}
.telegram {
  list-style-image: url("assets/img/telegram.svg");
}
.discord {
  list-style-image: url("assets/img/discord.svg");
} */

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  }

  #profile {
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    border-bottom: none;
  }
  #profile::after {
    position: absolute;
    bottom: 0;
    left: center;
    content: "";
    width: 100%;
    height: 15px;
    background-color: #c5bda5;
  }
  .logo-container {
    background: no-repeat  0 -45px url("assets/img/cv.jpg");
    background-size: cover;
    /* border: 1px solid red; */
    min-width: 200px;
    min-height: 200px; 
    border-radius: 50%;  
  }
  .main-section-logo {
    border-radius: 50%;
      /* border: 1px solid red; */
      width: 100%;
      height: 100%;
  }
  
  .nav {
    width: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  .nav-link {
    color: #fff;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.5s;
  }
  .nav-link:hover {
      color: rgba(49, 46, 189, 0.8);
      font-weight: 400;
  }

  .section {
    width: 50%;
    padding: 15px 0 50px;
    border-bottom: 1px solid #829985;
  }

  .section-title {
    width: 20%;
    /* border: 1px solid red; */
    padding: 15px 0;
    position: relative;
    color: #829985;
  }
  
  .section-title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0%;
    height: 5px;
    background-color: #829985;
    transition:  3s;
    /* border: 1px solid red; */
  }
  .section-title:hover::after {
    width: 97%;
  }
  .section li {
    line-height: 40px;
  }

  .section__about-me {
    line-height: 30px;
  }
  .profile__title {
    padding: 20px 0;
  }

  .profile__title:after {
    content: "";
    position: absolute;
    left: 22.5%;
    top: 100%;
    width: 50%;
    height: 2px;
    background-color: #829985;
    
  }

  .section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4d2323;
  }
  .section {
    width: 50%;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;  
  }

  .skills__list,
  .courses__list,
  .projects__list {
    list-style: none;
  }

  .courses__list span {
    color: #829985;
    padding-left: 10px;
  }
  .skills__item,
  .courses__item {
    display: flex;
    position: relative;
    align-items: center;
  }
  .skills__item::before,
  .courses__item::before  {
    content: "";
    margin-right: 5px;
    width: 5px;
    height: 5px;
    border: 2px solid #829985;
  }

  .code {
    line-height: 0.1mm;
    font-size: 15px;
    color: #af0b0b;
  }
  .code span {
    font-weight: 700;
    font-style: italic;
    color: #4d2323;
  }

  .main-footer {
    display: flex;
    padding: 20px 0;
    border: 1px solid transparent;
    background-color: #829985;
    color: #fff;
  }

  .main-footer__block {
    width: 100%;
  }
  
  .main-footer a {
    margin-right: auto;
    color: #fff;
  }

  .main-footer__span {
    font-weight: 700;
    padding-right: 20px;
  }

  .nav-item > a {
    position: relative;
    padding-bottom: 5px;
  }
  .nav-item > a::after{
    transition: 3s;
    position: absolute;
    bottom: 0;
    left: 19%;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #fff;
  }
  .nav-item > a:hover::after {
    width: 70%;
  }
  
  